<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>欢迎关注{{ request.session.user_info.name }}</h1>
    <h3>扫描关注商城(用于信息提示,请必须关注)</h3>
    <img  style="width: 200px" src="/static/0.jpg" alt="">
    <h3>下一步：请将微信的ID发给我</h3>
    <div id="qrcode" style="width: 200px;">

    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.qrcode.min.js"></script>
    <script src="/static/js/qrcode.js"></script>
    <script>
        $(function () {
            get_qrcode();
        });
        function get_qrcode() {
            $.ajax({
                url:'/get_qrcode/',
                type:'GET',
                dataType:'JSON',
                success:function (arg) {
                    $('#qrcode').empty().qrcode({text:arg.data});
                }
            })
        }

    </script>


</body>
</html>